@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right login">
        <li>
            <a href="/Manage" title="Manage">@User.Identity.GetUserName()</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Одјави се <span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right login">
    <li><a href="/Account/Login"><img src="~/Images/userIcon.png" style="max-width:30px;max-height:30px;" /></a></li>
</ul>
}

<style>
    .login a{
        color:black !important;
    }
    .login a:hover{
        color: cornflowerblue !important;
    }
</style>